  <div class="principal">

  <h2>Liste des releveurs</h2>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Numéro de telephone</th>
        <th scope="col">Date de naissance</th>
        <th scope="col">Email</th>
        <th scope="col">Login</th>
        <th scope="col">Mot de passe</th>
        <th scope="col"><input type="checkbox" (change)="updateSelected($event.target.checked)"/></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let releveur of releveurs"> 
        
          <td>{{releveur.nom}}</td>
          <td>{{releveur.prenom}}</td>
          <td>{{releveur.tel}}</td>
          <td>{{releveur.datenaiss}}</td>
          <td>{{releveur.email}}</td>
          <td>{{releveur.login}}</td>
          <td>{{releveur.pwd}}</td>    
          <td><input type="checkbox" [checked]="allChecked" (change)="updateCheckedList($event.target.checked,releveur)"></td>
      </tr>
    </tbody>
  </table>
  </div>

  